<h1>Editing Incicent Replacement</h1>

<%= render 'form', incicent_replacement: @incicent_replacement %>

<%= link_to 'Show', @incicent_replacement %> |
<%= link_to 'Back', incicent_replacements_path %>
